/Tema 4 Metodos/integración/Trapecio/ejemplo metodo del trapecio/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/ejemplo metodo del trapecio/build/
/Tema 4 Metodos/integración/Trapecio/metodo del trapecio 1/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/metodo del trapecio 1/build/
/Tema 4 Metodos/integración/Trapecio/Metodo del trapecio 3/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/Metodo del trapecio 3/build/
/Tema 4 Metodos/integración/Simpson/simpson 1/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 1/build/
/Tema 4 Metodos/integración/Simpson/simpson 2/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 2/build/
/Tema 4 Metodos/integración/Simpson/simpson 3/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 3/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura guassiana 1/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura guassiana 1/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 2/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 2/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 3/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 3/build/
