/Tema 4 Metodos/integración/Trapecio/ejemplo metodo del trapecio/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/ejemplo metodo del trapecio/build/
/Tema 4 Metodos/integración/Trapecio/metodo del trapecio 1/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/metodo del trapecio 1/build/
/Tema 4 Metodos/integración/Trapecio/Metodo del trapecio 3/nbproject/private/
/Tema 4 Metodos/integración/Trapecio/Metodo del trapecio 3/build/
/Tema 4 Metodos/integración/Simpson/simpson 1/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 1/build/
/Tema 4 Metodos/integración/Simpson/simpson 2/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 2/build/
/Tema 4 Metodos/integración/Simpson/simpson 3/nbproject/private/
/Tema 4 Metodos/integración/Simpson/simpson 3/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura guassiana 1/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura guassiana 1/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 2/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 2/build/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 3/nbproject/private/
/Tema 4 Metodos/integración/Cuadratura Gausiana/cuadratura gausiana 3/build/
/Tema 5 Metodos/Interpolación/Lineal/ejemplo/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejemplo lineal/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejemplo lineal/build/
/Tema 5 Metodos/Interpolación/Cuadratica/cuadratica1/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/cuadratica1/build/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio2lineal/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio2lineal/build/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio3lineal/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio3lineal/build/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio4lineal/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio4lineal/build/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio5lineal/nbproject/private/
/Tema 5 Metodos/Interpolación/Lineal/ejercicio5lineal/build/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio2cuadratica/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio2cuadratica/build/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio3cuadratica/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio3cuadratica/build/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio4cuadratica/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio4cuadratica/build/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio5cuadratica/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio5cuadratica/build/
/Tema 5 Metodos/Interpolación/Lagrange/ejercicio1lagrange/nbproject/private/
/Tema 5 Metodos/Interpolación/Lagrange/ejercicio1lagrange/build/
/Tema 5 Metodos/Interpolación/Newton/ejercicio1newton/nbproject/private/
/Tema 5 Metodos/Interpolación/Newton/ejercicio1newton/build/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio adicional/nbproject/private/
/Tema 5 Metodos/Interpolación/Cuadratica/ejercicio adicional/build/
/Tema 5 Metodos/Interpolación/Examen/JavaApplication82/nbproject/private/
/Tema 5 Metodos/Interpolación/Examen/Examen/nbproject/private/
/Tema 5 Metodos/Interpolación/Examen/Examen/build/
